#Carrousel {
  overflow: hidden;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
}

#inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

#CarrouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  color: #000;
  gap: 5px;
}

#CarrouselItem .linkCarousel {
  font-weight: bold;
}

#CarrouselItem a {
  color: #111111;
}

#CarrouselItem img {
  width: 30px;
  height: 30px;
}
