.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
  background:#F7F7F7;
}

#Base {
  width: 1360px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#title {
  width: 1360px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 71.8px 0  32.2px 0;
}

#title h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 38px;
  color: #000000;
}
